
/* navbar */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

        nav{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .container{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: auto;
        }
        #logo_nav{
            display: flex;
        }
        #logo_nav img{
            width: 80px;
        }
        #mid_nav{
            display: flex;
            padding-left:20px ;
            padding-right: 20px;
            
        }
        
        svg{
            width: 20px;
        }
        .language{
            display: flex;
        }
        .lan_button{
            border: none;
            background-color: white;
            

        }
        .english_text{
            padding-right: 20px;
            margin: auto;
            padding-left: 10px;
        }
        #mid_nav a{
            text-decoration: none;
            color: black;
            padding-right: 20px;
            margin: auto;
        }


/* sign menu */
#signin_menu{
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    position: fixed;
    transform: translate(10%,10% );
    z-index: 10;
    
    
    

}
#signin_menu a{
    text-decoration: none;
    color: black;
    padding:10px 10px ;
}
.sign_button {
    background-color: #3662d8;
    border: none;
    border-radius: 5px;
    width:100%;
    padding: 5px 5px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

}
#signin_menu .sign_button a{
    color: white;
    
    font-weight: bold;
    text-decoration: none;
}
#illuste_image{
    display: block;
    margin: auto;
    padding-top: 20px;
}

.headline{
   text-align: left;
   font-family:centra no2  ;
}
.signUp a{
    display: block;
    text-align: center;
    
}
#sign_btn{
    border: none;
    background-color: white;

}