@import url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);
#logo_nav{
    margin: auto;
}
.signIn{
    width: 400px;
    margin: auto;
}

.signIn button{
    border: none;
    background-color: #3662d8;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px 15px;
    font-size:large;
}
.email_pass{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:10px ;
    margin-bottom: 10px;
    border-color: rgb(90, 89, 89);
}
#kepp_sign{
    display: flex;
    justify-content: flex-start;

}
p{
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
   font-family:"Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    
    color: #343b53;
}
#or{
    text-align: center;
}
.term{
    font-size: 16px;
    font-weight: 400;
}
#forget{
    text-align: center;
    display: block;
    margin: auto;
}
.bottom{
    display: flex;
    margin: auto;
}